<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>saber_attack_one0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,100}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,100}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{138,114}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,114}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one11.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{138,116}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,116}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{136,116}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,116}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,222},{102,118}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{102,118}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,100}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,100}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,100}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{104,100}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,104}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{170,104}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,461},{124,108}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{124,108}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,236},{126,110}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{126,110}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one8.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,348},{124,112}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{124,112}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_attack_one9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,120},{134,114}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{134,114}}</string>
                <key>sourceSize</key>
                <string>{218,120}</string>
            </dict>
            <key>saber_idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,903},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,799},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,697},{110,119}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,119}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,633},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,635},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,630},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,571},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle16.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,573},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle17.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,346},{60,125}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{60,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle18.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,692},{60,123}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,1},{60,123}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,913},{102,117}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{102,117}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,809},{102,117}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,754},{102,117}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,695},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,342},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,903},{102,117}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{102,117}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>saber_walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{134,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,113}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,233},{126,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{126,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,233},{126,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{126,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,408},{124,111}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{124,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{124,111}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{124,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,120},{126,111}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{126,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{126,109}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{126,109}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,521},{124,107}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{124,107}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{124,109}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{124,109}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,462},{124,109}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{124,109}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
            <key>saber_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,408},{124,111}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{124,111}}</string>
                <key>sourceSize</key>
                <string>{136,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b47058a232fd19a10a1b2c3498fa4713$</string>
            <key>textureFileName</key>
            <string>sprite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
